body{
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

nav{
    background-color: rgb(243, 241, 237);
    border-radius: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.item{
    margin-right: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: grey;
}

.nav-image{
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.item:hover{
    border-bottom: 2px solid lightcoral;
}